<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% block extra_head %}
    {% endblock %}
    <style>
        #logo {
            margin-left: 20px;
        }
    </style>
      <script>
        document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, options);
      });

      // Or with jQuery

      $(document).ready(function(){
        $('.sidenav').sidenav();
        });
    </script>
  </head>
  <body>
    {% block body %}
    <div class="navbar-fixed">
            <nav>
            <div class="nav-wrapper">
              <a href=""  id="logo" class="brand-logo">Logo</a>
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <ul class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li class="sidenav"><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
              </ul>
            </div>
          </nav>
    </div>

          <ul class="sidenav" id="mobile-demo">
            {% if user.is_authenticated %}
                <li class="sidenav"><a href="{% url 'account_email' %}">Change E-mail</a></li>
                <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        {% if messages %}
            <div class="container">
              <div class="row">
                <ul>
                    {% for message in messages %}
                        <li class="deep-orange-text">{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        {% endif %}
            <div class="container">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
    <footer class="page-footer">
      <div class="footer-copyright">
        <div class="container">
            <p class="center-align">Made by <a class="white-text" href="https://prashanjeet.com">Prashanjeet</a> | Checkout the source code <a
                href="#">Here</a></p>
        </div>
      </div>
    </footer>
  </body>
</html>
